.darkmode html, .darkmode body {
  background-color: #1e1e1e;
}

.darkmode #toolbar {
  background-color: #1e1e1e;
  box-shadow: 1px 1px 1px #3a3a3a;
}

.darkmode .neumorphic-button {
  background-color: #1e1e1e;
  color: white;
  box-shadow: 
  2px 2px 5px rgba(0, 0, 0, 0.446),
  -3px -3px 7px rgba(64, 67, 67, 0.699);
}

.darkmode .neumorphic-button:active {
  box-shadow: 
  inset 2px 2px 5px rgba(0, 0, 0, 0.446), 
  inset -3px -3px 7px rgba(64, 67, 67, 0.699);
}

.darkmode .slider {
  background: #1e1e1e;
  box-shadow: 
  inset 2px 2px 5px rgba(0, 0, 0, 0.446), 
  inset -3px -3px 7px rgba(64, 67, 67, 0.699);
}

.darkmode .tab {
  background: #1e1e1e;
}

.darkmode .tab .tablink {
  color: white;
  background: #1e1e1e;
  box-shadow: 
  2px 2px 5px rgba(0, 0, 0, 0.446),
  -3px -3px 7px rgba(64, 67, 67, 0.699);
}

.darkmode .tab .tablink:not(.activeTab):active, 
.darkmode .tab #new-tab-btn:active,
.darkmode .tab .tablink.activeTab {
  background: #1e1e1e;
  box-shadow: 
  inset 2px 2px 5px rgba(0, 0, 0, 0.446),
  inset -3px -3px 7px rgba(64, 67, 67, 0.699);
}

.darkmode .tab #new-tab-btn {
  background: #1e1e1e;
  box-shadow: 
  2px 2px 5px rgba(0, 0, 0, 0.446),
  -3px -3px 7px rgba(64, 67, 67, 0.699);
}

.darkmode input:checked + .slider:before {
  -webkit-transform: translateX(57x);
  -ms-transform: translateX(57px);
  transform: translateX(57px);
  border-radius: 50px;
  background: #64b067;
}

.darkmode .wysiwyg-container,
.darkmode .wysiwyg-display,
.darkmode .wysiwyg-editor {
  background-color: #1e1e1e;
}

.darkmode .wysiwyg-display, .darkmode .wysiwyg-editor {
  color: white;
  box-shadow:
  inset 4px 4px 7px #101011c9, 
  inset -3px -3px 7px #f1f1f13a;
}

.darkmode .modal-content {
  border: 1px solid #35353556;
  box-shadow: 
  inset 4px 4px 7px #101011c9, 
  inset -3px -3px 7px #f1f1f13a;
}

.darkmode .wysiwyg-editor, .darkmode .wysiwyg-display {
  border: 1px solid #35353556;
  box-shadow: 
  inset 4px 4px 7px #101011c9, 
  inset -3px -3px 7px #f1f1f13a;
}