html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #8d99b4;
}

input[type="text"] {
  font-size: 1rem;
  border-radius: .55rem;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  font-family: 'Roboto Regular';
  height: 1.5rem;
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;
  background-color:  #8d99b4;
  padding: 1% 2%;
}

#toolbar {
  background-color: #8d99b4;
  top: 0;
  left: 0;
  right: 0;
  height: 6%;
  z-index: 1;
  box-shadow: 1px 1px 1px rgba(118, 116, 116, 0.583);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#neumorphic-buttons {
  display: flex;
  float: left;
  margin-left: 1%;
  height: 65%;
  align-items: center;
  gap: 10px;
}

.neumorphic-button {
  border-radius: 10px;
  height: 100%;
  border: none;
  background-color: #8d99b4;
  box-shadow: 3px 3px 6px #4b505acd, -5px -5px 6px #a6afc2;
  padding: 0 15px;
  color: rgb(46, 46, 46);
  font-weight: bold;
  cursor: pointer;
}

.neumorphic-button:active {
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;
}

#nightmode-switch {
  float: right;
  position: relative;
  width: 90px;
  height: 30px;
  margin-right: 1%;
}

#nightmode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background: #8d99b4;
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;  border-radius: 73px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 5px;
  bottom: 4px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  background: #c44545;
} 

.modal-content {
  background-color: #8d99b4;
  color: rgb(46, 46, 46);
  border-radius: 10px;
  font-family: 'Roboto Regular';
  display: flex;
  flex-direction: column;
  border: 1px solid #35353556;
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;}

.modal-content hr {
  width: 100%;
}

.modal-content .modal-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-content .modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.wysiwyg-container {
  background-color: #8d99b4;
  margin-top: 1%;
  width: 99%;
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}

.wysiwyg-editor::-webkit-scrollbar, .wysiwyg-display::-webkit-scrollbar {
  display: none;
}

.wysiwyg-editor {
	width: 47%;
	padding: 1%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #8d99b4;
  color: rgb(46, 46, 46);
  border-radius: 10px;
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;
  overflow: auto;
  overflow-wrap: break-word;
}

.wysiwyg-editor:active {
  outline: none;
}

.wysiwyg-display {
  width: 47%;
	padding: 1%;
  font-family: "Roboto Regular";
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #8d99b4;
  color: rgb(46, 46, 46);
  border-radius: 10px;
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;  
  overflow: auto;
  overflow-wrap: break-word;
}

.wysiwyg-display h1, .wysiwyg-display h2, .wysiwyg-display h3, .wysiwyg-display h4 {
  font-family: "Roboto Bold";
  margin-top: 0;
}

#cookies-alert, #cheats-sheet, #about-this, #filetypeDialog{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#cookies-alert {
  z-index: 1;
}

#cookies-alert > div {
  position: absolute;
  margin-bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #888;
  color: rgb(48, 48, 48);
  background-color: #8d99b4;
  color: rgb(46, 46, 46);
  font-family: 'Roboto Regular';
  border: 1px solid #35353556;
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;
}

#cookies-alert-content {
  margin-left: 5%;
}

#cookies-alert-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10%;
}

#cookies-alert-buttons button {
  cursor: pointer;
  height: 45px;
  width: 200px;
  font-size: 14pt;
}

#cookies-alert-buttons button:nth-child(2n){
  margin-top: 5%;
}

#cheats-sheet .modal-content {
  margin: 15% auto;
  padding: 10px;
  padding-bottom: 20px;
  width: 30%;
}

#cheats-sheet h1, #cheats-sheet h2 {
  font-family: "Roboto Regular";
  text-align: center;
}

#cheats-sheet h2 {
  font-size: 15pt;
}

#cheats-sheet table {
  margin-top: 3%;
  font-family: "Roboto Light";
  margin-left: auto;
  margin-right: auto;
  font-size: 11pt;
  border-collapse: collapse;
}

#cheats-sheet table th, #cheats-sheet table td {
  border: 1px solid rgb(48, 48, 48);
}

#about-this .modal-content {
  margin: 15% auto;
  padding: 15px;
  padding-bottom: 20px;
  width: 30%;
}

#filetypeDialog .modal-content {
  font-family: "Roboto Regular";
  margin: 15% auto;
  padding: 15px;
  width: 30%;
}

#filetypeDialog button {
  padding: 2%;
}

.close-dialog {
  color: rgb(124, 122, 122);
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 3%;
}

.close-dialog:hover,
.close-dialog:focus {
  color: rgb(41, 41, 41);
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}

.tab {
  overflow: hidden;
  background-color: #8d99b4;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5% 15px;
}

.tab .tablink, #new-tab-btn {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5% 2%;
  height: 75%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #8d99b4;
  padding: 0 10px;
  color: rgb(46, 46, 46);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 
  3px 3px 6px #4b505acd,
  -5px -5px 6px #a6afc2;
}

.tab .tablink:hover {
  cursor: pointer;
}

.tab .tablink:not(.activeTab):active, 
.tab #new-tab-btn:active,
.tab .tablink.activeTab {
  box-shadow: 
  inset 3px 3px 6px #4b505acd,
  inset -5px -5px 6px #a6afc2;
}

#tabViews  {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  max-height: 80%;
  width: 100%;
}

.tabContent {
  display: none;
}

.tabContent[class~="activeTabView"] {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  max-height: 100%;
  width: 100%;
}

.tab .tablink,
#new-tab-btn,
.wysiwyg-container,
.wysiwyg-display,
.wysiwyg-editor,
.neumorphic-button,
.slider {
  transition: 0.3s;
}

@media(max-width: 1400px) {
  #cheats-sheet h1 {
    margin-top: 10%;
  }
}

@media(max-width: 1200px) {
  .wysiwyg-editor, .wysiwyg-display {
    float: none;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .wysiwyg-editor {
    margin-bottom: 1%;
  }

  .wysiwyg-display {
    margin-top: 1%;
  }

  #cheats-sheet div {
    margin: 15% auto;
    padding: 10px;
    padding-bottom: 20px;
    width: 50%;
  }

  #cheats-sheet h2 {
    margin-top: -3%;
  }

  #cheats-sheet table {
    margin-top: 5%;
  }
}


@media(max-width: 600px) {
  #toolbar {
    height: 60px;
  }

  #neumorphic-buttons {
    margin-left: 2.5%;
  }

  #nightmode-switch {
    margin-right: 2.5%;
    width: 70px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(37x);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
  }

  #neumorphic-buttons, #nightmode-switch {
    margin-top: 2.5%;
  }

  .wysiwyg-container {
    margin-top: 15%;
  }

  #cookies-alert-content {
    margin-top: 4%;
    margin-left: 2.5%;
    overflow: hidden;
  }

  #cookies-alert-buttons {
    position: relative;
    margin-top: 7%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    transform: unset;
  }

  .wysiwyg-container {
    width: 97%;
  }
}

