html, body {
  height: 100%;
  margin: 0;
}

#toolbar {
  background-color: #4fa2e3;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1;
  box-shadow: 2px 2px 2px #4a73a8;
}

#toolbar-buttons {
  float: left;
  margin-left: 1%;
}

#nightmode-switch {
  float: right;
  position: relative;
  width: 90px;
  height: 30px;
  margin-right: 1%;
}

#toolbar-buttons, #nightmode-switch {
  margin-top: 0.75%;
}

#nightmode-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 5px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e75757;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e75757;
}

input:checked + .slider:before {
  -webkit-transform: translateX(57x);
  -ms-transform: translateX(57px);
  transform: translateX(57px);
}

#container {
  margin-top: 1%;
  height: 92%;
  width: 99%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#editor {
	width: 49%;
	height: 95%;
	border: 1px solid black;
	padding: 5px;
  overflow: auto;
  float: left;
}

#display {
  width: 49%;
  height: 95%;
  padding: 5px;
  float: right;
  overflow: scroll;
  font-family: "Roboto Regular";
}

#display h1, #display h2, #display h3, #display h4 {
  font-family: "Roboto Bold";
  margin-top: 0;
}


#cookies-alert, #cheats-sheet, #about-this, #filetypeDialog{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#cookies-alert {
  z-index: 1;
}

#cookies-alert > div {
  position: absolute;
  background-color:white;
  margin-bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #888;
  color: rgb(48, 48, 48);
}

#cookies-alert-content {
  margin-left: 5%;
}

#cookies-alert-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10%;
}

#cookies-alert-buttons button {
  cursor: pointer;
  height: 45px;
  width: 200px;
  font-size: 14pt;
}

#cookies-alert-buttons button:nth-child(2n){
  margin-top: 5%;
}

#cheats-sheet div {
  background-color:white;
  margin: 15% auto;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 30%;
  color: rgb(48, 48, 48);
}

#cheats-sheet h1, #cheats-sheet h2 {
  font-family: "Roboto Regular";
  text-align: center;
}

#cheats-sheet h1 {
  margin-top: 6%;
}

#cheats-sheet h2 {
  margin-top: -3%;
  font-size: 15pt;
}

#cheats-sheet table {
  margin-top: 3%;
  font-family: "Roboto Light";
  margin-left: auto;
  margin-right: auto;
  font-size: 11pt;
  border-collapse: collapse;
}

#cheats-sheet table th, #cheats-sheet table td {
  border: 1px solid rgb(48, 48, 48);
}

#about-this div {
  background-color:white;
  margin: 15% auto;
  padding: 15px;
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 30%;
  color: rgb(48, 48, 48);
  font-family: "Roboto Light";
}

#about-this h1 {
  font-family: "Roboto Regular";
  text-align: center;
  margin-top: 7%;
}


#filetypeDialog div {
  font-family: "Roboto Regular";
  background-color:white;
  margin: 15% auto;
  padding: 15px;
  border: 1px solid #888;
  width: 30%;
}

#filetypeDialog button {
  margin-top: 3%;
}

.close-dialog {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 3%;
}

.close-dialog:hover,
.close-dialog:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media(max-width: 1400px) {
  #cheats-sheet h1 {
    margin-top: 10%;
  }
}
@media(max-width: 1000px) {
  #toolbar-buttons, #nightmode-switch {
    margin-top: 1.5%;
  }

  #editor, #display {
    float: none;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 47%;
  }

  #editor {
    margin-bottom: 1%;
  }

  #display {
    margin-top: 1%;
  }

  #cheats-sheet div {
    background-color:white;
    margin: 15% auto;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 50%;
    color: rgb(48, 48, 48);
  }

  /* #cheats-sheet h1 {
    margin-top: 8%;
  } */

  #cheats-sheet h2 {
    margin-top: -3%;
  }

  #cheats-sheet table {
    margin-top: 5%;
  }

  #about-this h1 {
    margin-top: 13%;
  }
}

@media(max-width: 600px) {
  #toolbar {
    height: 60px;
  }

  #toolbar-buttons {
    margin-left: 2.5%;
  }

  #nightmode-switch {
    margin-right: 2.5%;
    width: 70px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(37x);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
  }

  #toolbar-buttons, #nightmode-switch {
    margin-top: 2.5%;
  }

  #container {
    margin-top: 15%;
  }

  #cookies-alert-content {
    margin-top: 4%;
    margin-left: 2.5%;
    overflow: hidden;
  }

  #cookies-alert-buttons {
    position: relative;
    margin-top: 7%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    transform: unset;
  }
}
